{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        ["module-resolver", {
            "root": "./src",
            "alias": {
                "@configs": "rocket/src/configs",
                "@providers": "rocket/src/providers",
                "@commons": "rocket/src/commons",
                "@api": "rocket/src/api"
            }
        }]
    ]
}
